/* 
WOO CUSTOM STYLESHEET
---------------------
*/

@import "responsive.css?v=2019.0.2";

/* Tags */
body  { font: Helvetica, Arial, sans-serif; }
h1, h2, h3, h4, h5, h6  { font: Helvetica, Arial, sans-serif; }
p {font: Helvetica, Arial, sans-serif; }

h1 { 
	font-size: 24px/28px; 
	text-transform: uppercase; 
	color: #00548a;
} 
h3 { font-size: 18px; line-height: 26px; color: #2e3191; }

body { background-color: #98bfe5; }

.float_clear { clear: both; }

.entry ul li { list-style-type: circle; margin-bottom: 10px; }

/* Header */
#header { clear: both; padding: 20px 0 15px; position: relative; }

#top { background: url("http://washtenawhealthinitiative.org/wp-content/uploads/2011/06/top_background_image.png") no-repeat scroll center top #ffffff; }


/* Nav */

ul#nav { margin: 40px 20px 0px 0px;}

#nav a { color: #FFFFFF; display: block; font: 14px/22px 'Droid Sans','Myriad Pro',Helvetica,Arial,sans-serif; padding: 0 10px; text-decoration: none; z-index: 100; }

#nav li:hover, #nav li.current_page_item, #nav li.current_page_parent, #nav li.current-menu-item, #nav li.current-menu-ancestor { background-color: #00548a; }


/* Main Content */
#content { background: url("http://washtenawhealthinitiative.org/wp-content/uploads/2011/06/content_background.png") repeat-x scroll center top transparent; min-height: 100px; padding: 10px 0 20px; }

.whi_content_holder { border: 1px solid #bbbdbf; width: 900px; background: url("http://washtenawhealthinitiative.org/wp-content/uploads/2011/06/doctor_stripe.jpg") no-repeat scroll center top #ffffff; padding: 175px 20px 20px 20px; margin: 10px 0px 10px 0px; box-shadow: 3px 3px 3px #999999; -moz-box-shadow: 3px 3px 3px #999999; -moz-border-radius: 10px 10px 10px 10px; border-radius: 10px 10px 10px 10px; }

/* Post */
.whi_post_holder { border: 1px solid #bbbdbf; width: 538px; background: #ffffff; padding: 40px 20px 20px 20px; margin: 10px 0px 10px 0px; box-shadow: 3px 3px 3px #999999; -moz-box-shadow: 3px 3px 3px #999999; -moz-border-radius: 10px 10px 10px 10px; border-radius: 10px 10px 10px 10px; }

.post .title, .single .title { font-size: 24px; font-weight: bold; line-height: 26px; }

/* Footer */
#footer { background: none repeat scroll #98bfe5; color: #333333; padding: 20px 0; }

#credit a { color: #000000; }


/* Ordered List Numbers */
.entry ol li {
list-style-type: decimal;
}


/* Share buttons */
.shareinpost {
    clear: both;
    margin-top: 20px;
}

#header #logo {
	float: none;
}
#header #nav {
	display: block;
	float: left;
	margin: 40px 0 10px;
}
#header #nav > li {
	background: none;
}
#header #nav > li a {
	color: #00548a;
	text-shadow: none;
}
#header #nav > li a:after {
	content: "";
	display: block;
	background: transparent;
	width: 100%;
	height: 2px;
	bottom: 2px;
}
#header #nav > li:hover {
	background: none;
	box-shadow: none;
}
#header #nav > li.current-menu-item,
#header #nav > li.current-menu-parent {
	background: none;
	border: none;
	box-shadow: none;
}
#header #nav > li.current-menu-item a {
	position: relative;
	font-weight: bold;
}
#header #nav > li a:hover:after,
#header #nav > li.current-menu-item a:after,
#header #nav > li.current-menu-parent a:after {
	background: #00548a;
}
#header #nav .sub-menu li a:after {
	display: none;
}



#footer .col-right a {
	padding-right: 10px;
	transition: color 333ms ease-in-out;
}
#footer .col-right a:last-child {
	padding-right: 0;
}
#footer .col-right a:hover {
	text-decoration: none;
	color: white;
}

#content {
	background: none;
	padding-top: 0;
}
#content .entry img {
	padding: 0;
	border: none;
	background: none;
}
#content .widget .textwidget {
	background: transparent;
	box-shadow: none;
	border-radius: 0;
}


.post-list .post img {
	margin-right: 20px;	
	float: left;
}

#content .display-posts-listing {
	background: none;
	box-shadow: none;
	border: none;
	padding: 0;
}
#content .display-posts-listing li {
	list-style: none;
	background: none;
	padding-left: 0;
	margin-bottom: 20px;
}
#content .display-posts-listing a {
	font-size: 14px;
	font-weight: normal;
	line-height: 1;
	color: black;
	padding-left: 0;
}

#tribe-bar-form {
	background: transparent;
}
#tribe-bar-filters-wrap {
	display: none !important
}
#tribe-events .tribe-bar-disabled {
	height: 0;
	display: none;
}
#tribe-events h1 {
	text-align: left;
}
#tribe-events h2 {
	padding-bottom: 6px;
}


#content .ecs-event-list {
	background: transparent;
	border-radius: 0;
	border: none;
	box-shadow: none;
	padding: 0;
}
#content .ecs-event {
	list-style: none;
	background: none;
	padding-left: 0;
}
#content a {
	color: #00548a;
}
#content .ecs-event a {
	color: black;
	padding-left: 0;
}
#content .ecs-event .duration {
	padding-left: 20px;
	font-style: italic;
	font-size: 12px;
}
.home h3 {
	color: #00548a;
}
.archive #main {
	width: 100%;
}
#content .archive_header {
	display: none;
}
#content .post .comments {
	display: none;
}
.hero-img {
	height: 300px;
	overflow: hidden;
	margin-bottom: -30px;
}
#content .no-padding .textwidget {
	padding: 0;
}

#content #ctf.ctf-styles .ctf-tweet-meta {
	font-size: 14px;
	font-weight: bold;
	margin: 0;
}
#content #ctf .ctf-item:first-child {
	padding-top: 0;
}
#content #ctf .ctf-tweets a {
	color: #00548a !important;
	margin-left: 0;
	margin-top: 0;
}
#content #ctf .ctf-tweets .ctf-tweet-meta {
	display: block;
}
.home #content .textwidget {
	padding:0;
}
#ctf .ctf-item {
	padding: 15px 0;
}
#content .widget ul {
	background: transparent;
	border: none;
	border-radius: 0;
	box-shadow: none;
}
#content .entry ul li {
	list-style: disc;
	background: none;
}