/**
 Responsive style overrides are handled in this file
 */
html, body, #wrapper {
    max-width: 100%;
    width: 100%;
    min-width: 0;
}

#top, .col-full, #content, #content #main.fullwidth, #main {
    max-width: 940px;
    width: 100%;
    min-width: 0;
    margin: 0 auto;
}

body .post-list .post img {
    margin-bottom: 1.5rem;
    float: right;
    margin-right: 0;
    margin-left: 1.5rem;
    max-width: 200px;
    height: auto;
}


body .tribe-events-list .tribe-events-loop .tribe-events-event-image {
    min-width: 250px;
}

body .tribe-events-venue-details {
    font-weight: normal;
    font-size: .95em;
}

@media all and (max-width: 940px) {
    div#top {
        background-position: left top;
    }

    .post-list .post {
        margin-bottom: 4rem;
    }

    body #sidebar, #main.col-left {
        max-width: 100%;
        width: 100%;
        float: none;
        clear: both;
    }

    body #sidebar, .post-list {
        padding: 1rem;
        box-sizing: border-box;
    }

    body .whi_content_holder {
        width: 100%;
        max-width: 940px;
        box-sizing: border-box;
        background-position: left top;
    }

    body .whi_post_holder {
        width: 100%;
        max-width: 538px;
        box-sizing: border-box;
    }
}

@media all and (max-width: 800px) {
    .nav-entries .nav-prev a,
    .nav-entries .nav-next a {
        display: block;
        background: #eee;
        padding: 1rem;
        font-size: 1.25em;
    }
}

@media all and (max-width: 768px) {
    body #content {
        padding-top: 2rem;
    }

    #content .tribe-events-sub-nav li a {
        color: #fff;
    }
}

@media all and (max-width: 500px) {
    .size-medium.alignright,
    .size-medium.alignleft,
    .whi_content_holder .alignleft,
    .whi_post_holder .alignleft,
    .whi_post_holder .alignright,
    body .tribe-events-list .tribe-events-loop .tribe-events-event-image {
        display: block;
        float: none;
        width: 100%;
        height: auto;
        clear: both;
        margin: 0 0 1.5rem;
    }

    .whi_content_holder .alignleft {
        min-width: 100%;
    }

    body .post-list .post img {
        width: 100%;
        max-width: 100%;
        height: auto;
        float: none;
        clear: both;
        margin: 0 0 1.5rem;
    }
}

#main .post {
    padding-left: 1rem;
    padding-right: 1rem;
}

.siteorigin-panels #main .post {
    padding: 0;
}

/*.panel-row-style {
    padding: 0 1rem !important;
    align-items: stretch !important;
    align-content: stretch !important;
}

.panel-grid-cell {
    flex: 1 2 30%;
    min-width: 250px;
    width: auto !important;
    max-width: 100%;
    padding: 1rem !important;
    margin: 1rem !important;
}

body .panel-grid .siteorigin-panels-stretch {
    flex-wrap: wrap !important;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}*/

body #footer {
    padding-left: 1rem;
    padding-right: 1rem;
}

/*
#content .col-full .post {
    padding: 1rem;
}*/
